h2 {
  font-size: 32px;
  color: #666E6E;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

main {
  width: 1180px;
	margin: 0 auto;
}

p {
  font-size: 18px;
  text-align: justify;
  position: relative;
  left: 50px;
  right: 150px;
}

.festival-images {
  display: inline-block;
}

.floated-paragraph {
  float: left;
}

blockquote {
  float: right;
  width: 25%;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 0px;
    margin-right: 400px;
    padding: 0px;
    text-align: center;
  background-color: lightgrey;
  color: #3D9EC9;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

#footer-nav a:hover, #footer-nav a:focus, #footer-nav a:active, #footer-nav a:visited{
  font-weight: bold;
  font-size: 28px;
}
